<div class="panel panel-default">
    <div class="panel-heading neighborhood-heading">
    <h2>{{neighborhood.name}}</h2>
    </div>
    <div class="panel-body row">
        <div class="col-xs-6">
            <!-- Map -->
            <div class="hidden-md-down !important " id="map" style="width:100%; height:350px;">
            </div>
            <!-- end of Map -->
            <!--> Button Group -->
            <div class="row">
                <button ui-sref="createEvent" class="btn btn-primary btn-wide" role="button">New Event / Report</button>
                <button class="btn btn-danger btn-wide" href="#" ng-click="leaveNeighborhood(user.user_id)" role="button">Leave Neighborhood</button>
            </div>
        </div>
    <!-- Ends Column Left -->
        <div class="col-xs-6 text-center">
            <h4>Neighborhood Events</h4>
            
            <div class="home-events-box">
                <div class="row home-event-personal-event col-sm-12" ng-repeat="event in neighborhoodEvents" ng-show="hasNeighborhoodEvents">

                <div class="panel panel-default user-my-event">
                    <div class="panel-body">
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h3>{{event.title}}</h3>
                                </div>
                                <div class="col-sm-4 home-event-date">
                                {{event.date | date : "mediumDate"}}
                                </div>
                                <div class="col-xs-12 text-center">
                                <a ui-sref="events({ eventId: event.event_id })">View More</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 home-event-text">
                                    <p>{{event.details}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 home-events-img text-center">
                        <img class="img-rounded" ng-src="{{event.photo}}" style="height: 125px; max-height: 125px;">
                        </div>


                    </div>
                </div>
            </div>
        </div>
    <!--Will show if neighborhood has no events  -->
        <div ng-hide="hasNeighborhoodEvents">
        <p>Neighborhood has no active events</p>
        </div>
    </div>
    <!--Ends column right  -->
    </div>
</div>
