
#events-events-img
  height: 40vh
  width: 100vw
  margin-bottom: 35px

.events-event-top
  font-weight: 500
.events-panel-top
  margin-top: 20px

.event-font-xl
  font-size: 35px
  font-weight: 500

.font-huge
  text-transform: uppercase
  font-size: 35px
  font-weight: 700


.event-font-lg
  font-size: 32.5px

.event-font-med
  font-weight: 400
  font-size: 25px

.event-font-sm
  font-weight: 400
  font-size: 20px

.events-event-text
  margin-bottom: 50px
  margin-left: 10px


.events-container-body
  background-color: #514D46

.events-panel-whogoing
  background-color: lighten(#7D756E, 10%)

.events-panel-body
  background-color: lighten(#7D756E, 30%)


.events-map
  padding: 10px 10px
  border-radius: 5px
  width: auto
  height: auto

.events-nav-color
  border-bottom: 4px solid #14b0ff

.events-followers
  display: flex
  align-items: center
  height: 75px
.events-buttons
  padding-bottom: 20px
