<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12 events-event-top text-center">
          <div class="event-font-lg">{{event.name}}</div>
          <div class="row">
            <div class="col-sm-4 event-font-med">
              Date: {{event.date}}
            </div>
            <div class="col-sm-4 event-font-med">
            WHERE: {{event.location}}
            </div>
            <div class="col-sm-4 event-font-med">
            Time: {{event.time}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 events-event-text">
          <p>{{event.description}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <img ng-src="{{event.img}}" alt="" class="img-responsive" id="events-events-img">
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <img ng-src="{{event.maps}}" alt="" style="height:50vh;" class="img-responsive">
      <div class="row">
        <div class="col-sm-12">

          <button type="button" class="events-button" ng-click()>Accept</button>

        </div>
      </div>
    </div>
  </div>
</div>
