<div class="container-fluid">
    <div class="row">



        <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <div class="panel panel-default" id="login-panel">
              <div class="panel-body">
                <div class="login-logo-outside">
              <img ng-src="app/img/logo/neighborhood-watch.png" class="img-circle login-logo">
            </div>

                <form name="loginForm" novalidate>
                  <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                    <h2 class="login-login">Login</h2>
                        <div class="form-group" ng-class="{ 'has-error': loginForm.username.$touched && loginForm.username.$invalid}">
                        <input class="form-control" placeholder="Username/Email" id="username"
                        name="username"
                        ng-model="username"
                        required></input>
                        <div ng-messages="loginForm.username.$error" ng-show="loginForm.username.$touched">
                          <p ng-message="required">Username is required</p>
                        </div>
                      </div>
                          <div class="form-group" ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid}">
                        <input class="form-control" placeholder="Password" type="password"
                        id="password"
                        name="password"
                        ng-model="password"
                        required></input>
                        <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched">
                          <p ng-message="required">Password is required</p>
                        </div>
                      </div>
                      <div class="form-group">
                        <button class="btn btn-success" id="login-login-button"
                        ng-disabled="loginForm.$invalid"
                         ng-click="login(username, password, reset, loginForm)">Login</button>
                      </div>
                    <hr>
                    <a href="/auth/facebook"><div class="form-group">
                        <button id="login-login-button" class="btn btn-primary" ng-click="facebookLogin()"><i class="fa fa-facebook" aria-hidden="true"></i>Login with Facebook</button>
                      </div></a>
                      <div class="form-group">
                        <button id="login-login-button" class="btn btn-primary" ng-click="googleLogin()"><i class="fa fa-google-plus" aria-hidden="true"></i>Login with Google</button>
                      </div>
                      <div class="form-group">
                        <button id="login-login-button" ui-sref="signup" class="btn btn-default">Sign Up</button>
                    </div>
                  </div>
                </form>

              </div>
            </div>
        </div>





    </div>
</div>
