.btn-wide
  width: 200px
.user-btn-group
  margin-bottom: 15px
  display: flex
  flex-direction: column
  justify-content: center
.user-title
  text-align: center
.user-body
  padding: 10px
  background-color: lighten(#7D756E, 30%)
.user-my-event
  max-height: auto
  overflow: hidden
.user-my-event-box
  @media (min-width: 768px)
    max-height: 450px
    overflow: scroll
.user-my-attending-box
  @media (min-width: 768px)
    max-height: 345px
    overflow: scroll

.user-button-spacing
  margin-bottom: 20px
  width: 100%
.user-row
  margin-top: 50px
  margin-bottom: 50px
.user-thumbnail
    width: 100%
.user-panel-margin-bottom
  margin-bottom: 25px

.user-img-fix
  width: 100%
  height: auto
