// .user-events
//   height: 150px
//   width: 480px
//   border: solid
//   border-width: .5px
//
// .user-panel
//   margin-top: 75px

button
  margin: 5px
.btn-wide
  width: 200px 
.user-title
  text-align: center
.user-body
  padding: 10px
.user-my-event
  padding: 5px
