.navbar-default {
  background-color: #241E4E;
  font-weight:bold;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #960200;
  color: #CE6C47;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #EADAA2;
  border-bottom: #EADAA2
}
