body
  padding-top: 50px

.home-view
  background-color: yellow
  height: 30vh
  width: 100%

.home-events-box
  background-color: grey
  height: 65vh
  overflow-y: scroll

.home-report
  background-color: orange
  height: 50vh
