<div class="row" id="neighborhood-find">
    <h3>Find a Neighborhood</h3>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
        <hr>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="dropdown" id="neighborhood-state">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">State
<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">AL</a></li>
              <li><a href="#">AK</a></li>
              <li><a href="#">AZ</a></li>
              <li><a href="#">AR</a></li>
              <li><a href="#">CA</a></li>
              <li><a href="#">CO</a></li>
              <li><a href="#">CT</a></li>
              <li><a href="#">DE</a></li>
              <li><a href="#">FL</a></li>
              <li><a href="#">GA</a></li>
              <li><a href="#">HI</a></li>
              <li><a href="#">ID</a></li>
              <li><a href="#">IL</a></li>
              <li><a href="#">IN</a></li>
              <li><a href="#">IA</a></li>
              <li><a href="#">KS</a></li>
              <li><a href="#">KY</a></li>
              <li><a href="#">LA</a></li>
              <li><a href="#">ME</a></li>
              <li><a href="#">MD</a></li>
              <li><a href="#">MA</a></li>
              <li><a href="#">MI</a></li>
              <li><a href="#">MN</a></li>
              <li><a href="#">MS</a></li>
              <li><a href="#">MO</a></li>
              <li><a href="#">MT</a></li>
              <li><a href="#">NE</a></li>
              <li><a href="#">NV</a></li>
              <li><a href="#">NH</a></li>
              <li><a href="#">NJ</a></li>
              <li><a href="#">NM</a></li>
              <li><a href="#">NY</a></li>
              <li><a href="#">NC</a></li>
              <li><a href="#">ND</a></li>
              <li><a href="#">OH</a></li>
              <li><a href="#">OK</a></li>
              <li><a href="#">OR</a></li>
              <li><a href="#">PA</a></li>
              <li><a href="#">RI</a></li>
              <li><a href="#">SC</a></li>
              <li><a href="#">SD</a></li>
              <li><a href="#">TN</a></li>
              <li><a href="#">TX</a></li>
              <li><a href="#">UT</a></li>
              <li><a href="#">VT</a></li>
              <li><a href="#">VA</a></li>
              <li><a href="#">WA</a></li>
              <li><a href="#">WV</a></li>
              <li><a href="#">WI</a></li>
              <li><a href="#">WY</a></li>
            </ul>
        </div>
        <div class="dropdown" id="neighborhood-state">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">City
<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Dynamic City</a></li>
            </ul>
        </div>
        <button class="btn btn-success">Apply</button>
        <div class="dropdown" id="neighborhood-show">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Show All
<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Alphabetical</a></li>
                <li><a href="#">Reverse Alphabetical</a></li>
                <li><a href="#">Top 10</a></li>
                <li><a href="#">Top 20</a></li>
                <li><a href="#">Top 50</a></li>

            </ul>
        </div>
      </div>
        <hr>
        <table class="table table-striped">
          <thead>
            <tr>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Need to discuss something</td>
              <td><button
                class="btn btn-success"
                ng-click="leaveNeighborhood()">Join</button></td>
            </tr>
            <tr>
              <td>Need to discuss something</td>
              <td><button
                class="btn btn-success"
                ng-click="leaveNeighborhood()">Join</button></td>
            </tr>
            <tr>
              <td>Need to discuss something</td>
              <td><button
                class="btn btn-success"
                ng-click="leaveNeighborhood()">Join</button></td>
            </tr>
            <tr>
              <td>Need to discuss something</td>
              <td><button
                class="btn btn-success"
                ng-click="leaveNeighborhood()">Join</button></td>
            </tr>
            <tr>
              <td>Need to discuss something</td>
              <td><button
                class="btn btn-success"
                ng-click="leaveNeighborhood()">Join</button></td>
            </tr>
            <tr>
              <td>Need to discuss something</td>
              <td><button
                class="btn btn-success"
                ng-click="leaveNeighborhood()">Join</button></td>
            </tr>
            <tr>
              <td>Need to discuss something</td>
              <td><button
                class="btn btn-success"
                ng-click="leaveNeighborhood()">Join</button></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
