.edit-event-describe
  padding-top: 15px
  height: 100px
  input
    height: 77px
    width: 300px

.edit-event-category
  padding-top: 20px
  height: 75px

.edit-event-notified
  padding-top: 20px
  height: 125px

.edit-event-location
  padding-top: 20px
  height: 125px
.edit-event-time
  display: flex
  align-items: center
  justify-content: center


.edit-event-buttons
  padding-top: 20px
  height: 75px
  button
    height: 50px

.create-event-buttons
.edit-event-img
  max-width: 250px
  @media (min-width: 768px)
    max-width: 480px

// .events-container-body
//   background-color: #514D46
//
// .events-panel-whogoing
//   background-color: lighten(#7D756E, 10%)
//
// .events-panel-body
//   background-color: lighten(#7D756E, 30%)
