<div class="container-fluid">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row text-center">
            <div class="col-sm-12">
              <h2>{{ event.title }}</h2>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-12">
                  <div class="row text-center">
                    <div class="col-sm-12">
                      <div class="thumbnail">
                        <img src="./app/img/event/Custom-Icon-Design-Mono-General-3-Camera.ico" alt="...">
                        <div class="caption">
                          <h3>Profile Picture</h3>
                          <label class="btn btn-primary" for="my-file-selector">
                            <input ng-model="event.photo" type="file" style="display:none;">
                            Upload picture
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row text-center">
                <div class="col-sm-6">
                  <div id="map" class="maps"></div>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <form>
                <!-- event issue -->
                <div class="form-group">
                  <label>Title</label>
                  <input ng-model="event.title" class="form-control" placeholder="give it a name!">
                </div>
                <!-- type/category dropdown -->
                <div class="form-group">
                  <label>Type</label>
                  <select class="form-control" ng-model="category" ng-options="name.name for name in lists"></select>
                  <!-- name of place -->
                </div>

                <!-- description -->
                <div class="form-group">
                  <label>Description</label>
                  <textarea ng-model="event.details" class="form-control" rows="3"></textarea>
                </div>

                <div class="form-group">
                  <label>Name of Location</label>
                  <input ng-model="event.event_place" class="form-control" placeholder="Fred's House (for example)">
                </div>

                <form name="mapForm" ng-submit="submitForm(userForm.$valid)">
                  <div class="form-group" ng-class="{ 'has-error': mapForm.adress.$touched && mapForm.adress.$invalid }">
                    <label>Address</label>
                    <input type="text"
                    name="adress"
                    ng-minlength="3"
                    ng-maxlength="50"
                    class="form-control"
                    ng-model="map.address" required>
                    <div class="help-block" ng-messages="mapForm.adress.$error" ng-if="mapForm.adress.$touched">
                      <p ng-message="minlength"
                      class="bg-danger">Your address is too short.</p>
                      <p ng-message="maxlength"
                      class="bg-danger">Your address is too long.</p>
                      <p ng-message="required"
                      class="bg-danger">Your address is required.</p>
                    </div>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error': mapForm.city.$touched && mapForm.city.$invalid }">
                    <label>City</label>
                    <input type="text"
                    name="city"
                    ng-minlength="3"
                    ng-maxlength="50"
                    class="form-control"
                    ng-model="map.city" required>
                    <div class="help-block" ng-messages="mapForm.city.$error" ng-if="mapForm.city.$touched">
                      <p ng-message="minlength"
                      class="bg-danger">Your city is too short.</p>
                      <p ng-message="maxlength"
                      class="bg-danger">Your city is too long.</p>
                      <p ng-message="required"
                      class="bg-danger">Your city is required.</p>
                    </div>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error': mapForm.state.$touched && mapForm.state.$invalid }">
                    <label>State</label>
                    <input type="text"
                    name="state"
                    ng-minlength="3"
                    ng-maxlength="50"
                    class="form-control"
                    ng-model="map.state" required>
                    <div class="help-block" ng-messages="mapForm.state.$error" ng-if="mapForm.state.$touched">
                      <p ng-message="minlength"
                      class="bg-danger">Your state is too short.</p>
                      <p ng-message="maxlength"
                      class="bg-danger">Your state is too long.</p>
                      <p ng-message="required"
                      class="bg-danger">Your state is required.</p>
                    </div>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error': mapForm.zip.$touched && mapForm.zip.$invalid }">
                    <label>Zip Code</label>
                    <input type="text"
                    name="zip"
                    ng-minlength="3"
                    ng-maxlength="50"
                    class="form-control"
                    ng-model="map.zip" required>
                    <div class="help-block" ng-messages="mapForm.zip.$error" ng-if="mapForm.zip.$touched">
                      <p ng-message="minlength"
                      class="bg-danger">Your Zip Code is too short.</p>
                      <p ng-message="maxlength"
                      class="bg-danger">Your Zip Code is too long.</p>
                      <p ng-message="required"
                      class="bg-danger">Your Zip Code is required.</p>
                    </div>
                  </div>
                  <div class="form-group text-center">

                    <a type="button"  ng-click="changeMap(map)" ng-disabled="mapForm.$invalid" class="btn btn-success">Generate Map<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                  </div>
                </form>
                  <!-- choose a date -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">Choose a Date</label>
                    <br>
                    <div>
                      <div style="display:inline-block; min-height:290px;">
                        <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
                      </div>
                    </div>
                  </div>
                  <!-- choose a time -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">Time</label>
                    <div>
                      <div uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                      <!-- <input type="text" ng-model="event.event_time"> -->
                    </div>
                  </div>
                  <div class="row create-event-buttons">
                    <div class="col-sm-6 text-center">
                      <button type="button" ui-sref="user" ng-disabled="mapForm.$invalid" name="button" class="btn btn-success" ng-click="eventCreate(event)">Update Event</button>
                      <button type="button" name="button" class=" btn btn-danger" ui-sref="user" ng-click="deleteEvent()">Delete Event</button>

                      <button type="button" class="btn btn-default" ui-sref="user" style="font-weight:normal">Back to Profile</button>
                    </div>
                    <div class="col-sm-6">
                    </div>
                  </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
