.edit-event-time
  display: flex
  align-items: center
  justify-content: center

.edit-top-margin
  margin-top: 15px
// .edit-top-padding
//   padding-top: 15px

.edit-event-img
  max-width: 250px
  @media (min-width: 768px)
    max-width: 480px
