<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12">
          <h4>REPORT SOMETHING</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <img ng-src="app/img/event/Custom-Icon-Design-Mono-General-3-Camera.ico" alt="" style="height:30vh" class="img-responsive">
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row edit-event-describe">
        <div class="col-sm-3">
          <p>Describe the event/problem</p>
        </div>
        <div class="col-sm-9">
          <input type="text" name="" value="">
        </div>
      </div>
      <div class="row edit-event-category">
        <div class="col-sm-3">
          <p>category</p>
        </div>
        <div class="col-sm-9">
          <label>please select a category option
            <select ng-model="category" ng-options="name.name for name in lists"></select>
          </label>
        </div>
      </div>
      <div class="row edit-event-notified">
        <div class="col-sm-3">
          <p>How Would you like to be notified about your event?</p>
        </div>
        <div class="col-sm-9">
          <form name="myForm">
            <label>No Notifications Please:
              <input type="checkbox" ng-model="checkboxModel.value1">
            </label><br/>
            <label>Send Notifications By Email:
              <input type="checkbox" ng-model="checkboxModel.value2">
            </label><br/>
            <label>Show Me On My Newsfeed:
              <input type="checkbox" ng-model="checkboxModel.value3">
            </label><br/>
            <!-- <tt>value1 = {{checkboxModel.value1}}</tt><br/>
            <tt>value2 = {{checkboxModel.value2}}</tt><br/>
            <tt>value2 = {{checkboxModel.value3}}</tt><br/> -->
          </form>
        </div>
      </div>
      <div class="row edit-event-location">
        <div class="col-sm-3">
          <p>Current Location:</p>
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-2">
              Lattitude:
            </div>
            <div class="col-sm-10">
              <input type="text" name="" value="">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              Longitude:
            </div>
            <div class="col-sm-10">
              <input type="text" name="" value="">
            </div>
          </div>
        </div>
      </div>
      <div class="row edit-event-buttons">
        <div class="col-sm-6">
          <button type="button" name="button" class="btn btn-primary">Post Issue</button>
        </div>
        <div class="col-sm-6">
          <button type="button" name="button" class="btn btn-success">Mark Resolved</button>
        </div>
      </div>
    </div>
  </div>
</div>
