.create-event-describe
  padding-top: 15px
  height: 100px
  input
    height: 77px
    width: 300px
    padding-bottom: 55px

.create-event-category
  padding-top: 20px
  height: 75px

.create-event-date
  height: 300px

.create-event-notified
  padding-top: 20px
  height: 125px

.create-event-location
  padding-top: 20px
  height: 350px

.create-event-buttons
  padding-top: 20px
  height: 75px
  button
    height: 50px

.maps
  height: 250px
  width: 250px

.full button span
  background-color: limegreen
  border-radius: 32px
  color: black

.partially button span
  background-color: orange
  border-radius: 32px
  color: black
