<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12">
          <h4>REPORT SOMETHING</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row text-center">
            <div class="col-sm-12">
              <div class="thumbnail">
                <img src="./app/img/event/Custom-Icon-Design-Mono-General-3-Camera.ico" alt="...">
                <div class="caption">
                  <h3>IMG</h3>
                  <label class="btn btn-primary" for="my-file-selector">
                      <input ng-model="event.photo" type="file" style="display:none;">
                      Upload img
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row create-event-category">
        <div class="col-sm-3">
          <!-- <p>category</p> -->
          <p>Event/Issue Name</p>
        </div>
        <div class="col-sm-9">
          <input type="text" ng-model="event.title">
          <label>please select a category option
            <select ng-model="category" ng-options="name.name for name in lists"></select>
          </label>
        </div>
      </div>
      <div class="row create-event-category create-event-date">
        <div class="col-sm-3">
          <!-- <p>category</p> -->
          <p>Choose a Date</p>
          <!-- intigrate calendar and f -->
        </div>
        <div class="col-sm-9">
          <div>
            <!-- <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre> -->
              <div style="display:inline-block; min-height:290px;">
                <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="row create-event-category">
        <div class="col-sm-3">
          <!-- <p>category</p> -->
          <p>Time</p>
        </div>
        <div class="col-sm-9">
          <div uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
          <input type="text" ng-model="event.event_time">
        </div>
      </div>
      <div class="row create-event-category">
        <div class="col-sm-3">
          <!-- <p>category</p> -->
          <p>name of place</p>
        </div>
        <div class="col-sm-9">
          <input type="text" ng-model="event.place">
        </div>
      </div>
      <div class="row create-event-location">
        <div class="col-sm-3">
          <p>Create Event Map</p>
        </div>
        <!-- form -->
        <div class="col-sm-5">
          <form name="mapForm" ng-submit="submitForm(userForm.$valid)">
            <div class="form-group" ng-class="{ 'has-error': mapForm.adress.$touched && mapForm.adress.$invalid }">
              <label>Address</label>
              <input type="text"
              name="adress"
              ng-minlength="3"
              ng-maxlength="50"
              class="form-control"
              ng-model="map.address" required>
              <div class="help-block" ng-messages="mapForm.adress.$error" ng-if="mapForm.adress.$touched">
                <p ng-message="minlength"
                class="bg-danger">Your address is too short.</p>
                <p ng-message="maxlength"
                class="bg-danger">Your address is too long.</p>
                <p ng-message="required"
                class="bg-danger">Your address is required.</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': mapForm.city.$touched && mapForm.city.$invalid }">
              <label>City</label>
              <input type="text"
              name="city"
              ng-minlength="3"
              ng-maxlength="50"
              class="form-control"
              ng-model="map.city" required>
              <div class="help-block" ng-messages="mapForm.city.$error" ng-if="mapForm.city.$touched">
                <p ng-message="minlength"
                class="bg-danger">Your city is too short.</p>
                <p ng-message="maxlength"
                class="bg-danger">Your city is too long.</p>
                <p ng-message="required"
                class="bg-danger">Your city is required.</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': mapForm.state.$touched && mapForm.state.$invalid }">
              <label>State</label>
              <input type="text"
              name="state"
              ng-minlength="3"
              ng-maxlength="50"
              class="form-control"
              ng-model="map.state" required>
              <div class="help-block" ng-messages="mapForm.state.$error" ng-if="mapForm.state.$touched">
                <p ng-message="minlength"
                class="bg-danger">Your state is too short.</p>
                <p ng-message="maxlength"
                class="bg-danger">Your state is too long.</p>
                <p ng-message="required"
                class="bg-danger">Your state is required.</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': mapForm.zip.$touched && mapForm.zip.$invalid }">
              <label>Zip Code</label>
              <input type="text"
              name="zip"
              ng-minlength="3"
              ng-maxlength="50"
              class="form-control"
              ng-model="map.zip" required>
              <div class="help-block" ng-messages="mapForm.zip.$error" ng-if="mapForm.zip.$touched">
                <p ng-message="minlength"
                class="bg-danger">Your Zip Code is too short.</p>
                <p ng-message="maxlength"
                class="bg-danger">Your Zip Code is too long.</p>
                <p ng-message="required"
                class="bg-danger">Your Zip Code is required.</p>
              </div>
            </div>
          </form>
          <div class="row text-center">
            <div class="col-xs-12">
              <a type="button"  ng-click="changeMap(map)" ng-disabled="mapForm.$invalid" class="btn btn-success">Generate Map<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <nw-create-map></nw-create-map>
        </div>
      </div>
      <div class="row create-event-describe">
        <div class="col-sm-3">
          <p>Describe the event/problem</p>
        </div>
        <div class="col-sm-9">
          <textarea type="text" ng-model="event.details"></textarea>
        </div>
      </div>
      <!-- <div class="row create-event-notified">
        <div class="col-sm-3">
          <p>How Would you like to be notified about your event?</p>
        </div>
        <div class="col-sm-9">
          <form name="myForm">
            <label>No Notifications Please:
              <input type="checkbox" ng-model="event.check1">
            </label><br/>
            <label>Send Notifications By Email:
              <input type="checkbox" ng-model="event.check2">
            </label><br/>
            <label>Show Me On My Newsfeed:
              <input type="checkbox" ng-model="event.check3">
            </label><br/>
        </div>
      </div> -->
      <div class="row create-event-buttons">
        <div class="col-sm-6 text-center">
          <button type="button" ng-disabled="mapForm.$invalid" name="button" class=" btn btn-success" ng-click="eventCreate(event, category)">Create</button>
        </div>
        <div class="col-sm-6">
        </div>
      </div>
    </div>
  </div>
</div>
