#neighborhood-camera
  font-size: 135px
  border: solid
  padding: 20px
  border-width: .5px

#neighborhood-state
  display: inline
  float: left
#neighborhood-show
  display: inline
  float: right
// #neighborhood-row
//   margin-top: 60px
.find-heading
  text-align: center
.neighborhood-heading
  text-align: center
.neighborhood-panel
  padding: 5px
